<!-- 
  <div class="container">
  <div class="row align-items-end">
    <app-sumar class="col"></app-sumar>
    <app-restar class="col"></app-restar>
    <app-multiplicar class="col"></app-multiplicar>
    <app-dividir class="col"></app-dividir>
  </div>
</div>
-->

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <app-sumar></app-sumar>
      </div>
      <div class="col">
        <app-restar></app-restar>
      </div> 
      <div class="col">
        <app-multiplicar></app-multiplicar>
      </div> 
      <div class="col">
        <app-dividir></app-dividir>
      </div>
      
      
    </div>
  </div>
</body>









